<div class="container">
    <nb-card class="col-sm-10 col-md-8">
        <nb-card-header style="display: flex;justify-content: space-between; align-items: center;">
            <h6>New Device</h6>
            <button nbButton status="danger" (click)="close()">
                <nb-icon icon="close-outline"></nb-icon>
            </button>
        </nb-card-header>
        <nb-card-body>
            <input type="text" status="primary" nbInput fullWidth placeholder="Reference"
                [(ngModel)]="device.reference">
            <input type="text" status="primary" nbInput fullWidth placeholder="Name" [(ngModel)]="device.name">
            <nb-select fullWidth status="primary" placeholder="Device's Status" name="etat" [(ngModel)]="device.status">
                <nb-option value="{{true}}">Active</nb-option>
                <nb-option value="{{false}}">Inactive</nb-option>
            </nb-select>
            <nb-select fullWidth status="primary" placeholder="Device's Type" name="type" [(ngModel)]="device.type">
                <nb-option value="SON">Ultrasonic Sensor</nb-option>
                <nb-option value="GAS">Gas Sensor</nb-option>
                <nb-option value="LIGHT">Light Sensor</nb-option>
                <nb-option value="HUM">Humidity Sensor</nb-option>
                <nb-option value="OTH">Other</nb-option>
            </nb-select>
          <input type="text" status="primary" nbInput fullWidth placeholder="Description" [(ngModel)]="device.description">
          <textarea nbInput status="primary" fullWidth placeholder="Device's Data"
                [(ngModel)]="device.data"></textarea>
        </nb-card-body>
        <nb-card-footer style="display: flex; justify-content: flex-end;">
            <button nbButton status="success" (click)="save()">
                <nb-icon icon="plus-outline"></nb-icon>add
            </button>
        </nb-card-footer>
    </nb-card>
</div>
