@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.device__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .device__card {
        background-color: #fff;
        border-radius: 1rem;
        height: max-content;
        min-width: 100%;
        padding: 1rem;
        margin: .2rem 0;
        flex: 1;
        // box-shadow: 6px 6px 40px ;
    }
}

.device__action_btns  {
  width: 100%;
  display: flex;
  justify-content: flex-end;
    margin: 0 .1rem;
}
.device__action_btns > * {
  margin:  0 0.2rem;
}
nb-card-body > * {
  margin: 0.3rem 0;
}
nb-card-footer > * {
  margin: 0.3rem 0;
}


.device__header {
    display: flex;
    justify-content: space-between;
    margin: .7rem 0 ;
    align-items: center;
}
