<div class="container">
  <div class="device__header row">
    <button class="col-sm-2" nbButton status="success" (click)="viewDeviceForm()">
      <nb-icon icon="plus-outline"></nb-icon>Device
    </button>
<!--    <nb-form-field class="col-sm-12 col-md-6">-->
<!--      <input type="text" nbInput fullWidth status="primary" name="deviceRef" placeholder="Device reference">-->
<!--      <button size="small" nbSuffix style="color: #598BFF" nbButton ghost>-->
<!--        <nb-icon icon="search-outline" pack="eva"></nb-icon>-->
<!--      </button>-->
<!--    </nb-form-field>-->
  </div>
  <div class="row">
    <nb-card class="filter col-sm col-md-3">
      <nb-card-header>
        <h4>Filtres</h4>
      </nb-card-header>
      <nb-card-body>
        <input type="text" status="primary" nbInput fullWidth placeholder="Reference">
        <nb-select fullWidth status="primary" placeholder="Device's Status" name="etat">
          <nb-option value="active">Active</nb-option>
          <nb-option value="inactive">Inactive</nb-option>
        </nb-select>
        <nb-select fullWidth status="primary" placeholder="Device's Type" name="type">
          <nb-option value="SON">Ultrasonic Sensor</nb-option>
          <nb-option value="GAS">Gas Sensor</nb-option>
          <nb-option value="LIGHT">Light Sensor</nb-option>
          <nb-option value="HUM">Humidity Sensor</nb-option>
        </nb-select>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton fullWidth status="primary" outline>
          <nb-icon icon="search-outline" pack="eva"></nb-icon> apply
        </button>
        <button nbButton fullWidth outline>
          <nb-icon icon="close-square-outline" pack="eva"></nb-icon> clear
        </button>
      </nb-card-footer>
    </nb-card>
    <div class="device__wrapper col-sm-12 col-md-9">
      <div class="device__card" *ngFor="let d of devices">
        <div
          style="display:flex; justify-content: space-between;  font-size: x-small;text-wrap: none;margin: 0 0 0 .4rem;">
          <nb-tag-list>
            <nb-tag size="tiny" appearance="filled" [status]="d.status === true ? 'success': 'danger'"
                    [text]="d.status ? 'Active' : 'Inactive'"></nb-tag>
          </nb-tag-list>
          <nb-tag-list>
            <nb-tag size="tiny" appearance="filled" [text]="d.created_at | date"></nb-tag>
          </nb-tag-list>
        </div>
        <h3>{{d.name}}</h3>
        <p>{{d.data}}</p>
        <p>{{d.description}}</p>
        <div class="device__action_btns">
          <button nbButton size="small" status="primary" (click)="activate(d)">
            <nb-icon icon="power-outline"></nb-icon>
          </button>
          <button nbButton size="small" status="danger" (click)="delete(d.id)">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </div>
      </div>
      <!-- <div class="device__card">
          <div style="display:flex; justify-content: space-between;  font-size: x-small;text-wrap: none;">
              <nb-tag-list>
                  <nb-tag size="tiny" appearance="filled" status="danger" [text]="'Inactive'"></nb-tag>
              </nb-tag-list>
              <nb-tag-list>
                  <nb-tag size="tiny" appearance="filled" [text]="'25/06/2022'"></nb-tag>
              </nb-tag-list>
          </div>
          <h3>Device-02</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, sint optio voluptatum quas nobis
              velit, in amet quasi repellendus dicta itaque quam nisi, illum beatae!</p>
          <div class="device__action_btns">
              <button nbButton size="small" status="primary">
                  <nb-icon icon="eye-outline"></nb-icon>
              </button>
              <button nbButton size="small" status="success">
                  <nb-icon icon="download-outline"></nb-icon>
              </button>
              <button nbButton size="small" status="danger">
                  <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
          </div>
      </div>
      <div class="device__card">
          <div style="display:flex; justify-content: space-between;  font-size: x-small;text-wrap: none;">
              <nb-tag-list>
                  <nb-tag size="tiny" appearance="filled" status="success" [text]="'Active'"></nb-tag>
              </nb-tag-list>
              <nb-tag-list>
                  <nb-tag size="tiny" appearance="filled" [text]="'25/06/2022'"></nb-tag>
              </nb-tag-list>
          </div>
          <h3>Device-03</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, sint optio voluptatum quas nobis
              velit, in amet quasi repellendus dicta itaque quam nisi, illum beatae!</p>
          <div class="device__action_btns">
              <button nbButton size="small" status="primary">
                  <nb-icon icon="eye-outline"></nb-icon>
              </button>
              <button nbButton size="small" status="success">
                  <nb-icon icon="download-outline"></nb-icon>
              </button>
              <button nbButton size="small" status="danger">
                  <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
          </div>
      </div> -->
    </div>
  </div>
</div>

