<nb-card class="col col-md-5 m-auto">
    <nb-card-body>
      <div class="row justify-content-center m-auto">
        <img src="/assets/logo.png" alt="Project Logo Safely Systems">
      </div>
      <div class="row">
        <input type="email" nbInput status="primary" fullWidth placeholder="Email" [(ngModel)]="user.email">
      </div>
      <div class="row">
        <input type="password" nbInput status="primary" fullWidth placeholder="Password" [(ngModel)]="user.password">
      </div>
    </nb-card-body>
    <nb-card-footer >
        <button  class="login__btn " nbButton  status="primary" (click)="login(user)">
          Login
        </button>
    </nb-card-footer>
</nb-card>
